@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    table {
        width: 100%;
        margin-top: 10px;
        padding: 0 20px 40px 20px;
    }

    table th,
    td {
        border: 1px solid whitesmoke;
    }

}

@layer utilities {}


@layer components {}